In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json('events_20181003.json')

In [9]:
df['ts'] = pd.to_datetime(df['event_timestamp'],unit='us')

In [11]:
df['hour'] = df['ts'].dt.floor('h')

In [15]:
df_grouped = df.groupby('hour').count().reset_index()
df_grouped = df_grouped[['hour','ts']]

In [16]:
df_grouped.head()

                 hour   ts
0 2018-10-03 09:00:00  269
1 2018-10-03 11:00:00   17
2 2018-10-03 13:00:00   48
3 2018-10-03 14:00:00   52
4 2018-10-03 15:00:00  106